<%= link_to "Back", root_path %>

<br><br><br>

<%= render "tasks/task/tasklist", task: @task %>

<br><br><br>

<h2>Todo List</h2>

<div id="todos">
  <%= render @task.todos %>
</div>

<div id="new_todo_form">
  <%= render "todos/form", task: @task, todo: @task.todos.new %>
</div>
